vlan 20
vlan 12
aaa new-model

aaa group server radius RADIUS_SERVERS

 server name RADIUS_1

 server name RADIUS_2

aaa authentication dot1x default group RADIUS_SERVERS

aaa authorization exec default group RADIUS_SERVERS local


radius server RADIUS_1
 address ipv4 192.168.68.250
 key key_here
 ! Wait only 2 seconds for a reply
 timeout 2
 ! Only try one extra time if the first packet drops
 retransmit 1

radius server RADIUS_2
 address ipv4 192.168.68.251
 key key_here
 timeout 2
 retransmit 1

interface GigabitEthernet1/0/2
 switchport access vlan 12
 switchport mode access
 authentication port-control auto
 dot1x pae authenticator
!
interface GigabitEthernet1/0/4
 switchport access vlan 12
 switchport mode access
 authentication port-control auto
 dot1x pae authenticator
!
interface GigabitEthernet1/0/6
 switchport access vlan 12
 switchport mode access
 authentication port-control auto
 dot1x pae authenticator
!
interface GigabitEthernet1/0/8
 switchport access vlan 12
 switchport mode access
 switchport voice vlan 20
 authentication host-mode multi-domain
 authentication port-control auto
 dot1x pae authenticator
