! Rule ID: SV-220695 - IGMP Snooping Remediation
{% if igmp_global_disabled | default(false) %}
ip igmp snooping
{% endif %}
{% for vlan in igmp_vlan_violators | default([]) %}
ip igmp snooping vlan {{ vlan }}
{% endfor %}
