# CISC-L2-000270 - Access Native VLAN Remediation
! Ensure the non-native/safe VLAN exists
vlan {{ iosstig_not_native_vlan }}
 name {{ iosstig_not_native_vlan_name }}
!
{# Loop through the violators identified during the evaluation phase #}
{% for port in access_native_violators | default([]) %}
interface {{ port.name }}
 switchport access vlan {{ iosstig_not_native_vlan }}
{% endfor %}
