# CISC-L2-000160 - Storm Control Remediation
{% for port in storm_control_violators | default([]) %}
interface {{ port.name }}
 {# Standard Gig Ports #}
 {% if 'Gigabit' in port.name and 'Ten' not in port.name %}
  storm-control unicast level bps {{ iosstig_storm_control_unicast_level_one }}
  storm-control broadcast level bps {{ iosstig_storm_control_broadcast_level_one }}
 {# TenGig Ports #}
 {% elif 'TenGigabit' in port.name %}
  storm-control unicast level bps {{ iosstig_storm_control_unicast_level_ten }}
  storm-control broadcast level bps {{ iosstig_storm_control_broadcast_level_ten }}
 {% else %}
  {# Default fallback to percentage level if speed is unknown #}
  storm-control broadcast level 20.0
 {% endif %}
{% endfor %}

