aaa group server radius RADIUS_SERVERS
 server name {{ iosstig_radius_server_one_name }}
 server name {{ iosstig_radius_server_two_name }}
aaa authentication dot1x default group RADIUS_SERVERS
aaa authorization exec default group RADIUS_SERVERS local
