radius server {{ iosstig_radius_server_one_name }}
 address ipv4 {{ iosstig_radius_server_one_ip }} auth-port 1812 acct-port 1813
 key {{ iosstig_radius_server_one_key }}
radius server {{ iosstig_radius_server_two_name }}
 address ipv4 {{ iosstig_radius_server_two_ip }} auth-port 1812 acct-port 1813
 key {{ iosstig_radius_server_two_key }}
