# CISC-L2-000020 - 802.1x - Radius - Remediation
radius server "{{ iosstig_radius_server_one_name }}"
 address ipv4 {{ iosstig_radius_server_one_ip }}
 key {{ iosstig_radius_server_one_key }}

radius server "{{ iosstig_radius_server_two_name }}"
 address ipv4 {{ iosstig_radius_server_two_ip }}
 key {{ iosstig_radius_server_two_key }}
 