# CISC-L2-000210 - Blackhole VLAN Remediation
vlan {{ iosstig_blackhole_vlan }}
 name {{ iosstig_blackhole_vlan_name }}
 state active

{% for interface in iosstig_unused_ports | default([]) %}
interface {{ interface.name }}
 switchport access vlan {{ iosstig_blackhole_vlan }}
 switchport mode access
 shutdown
{% endfor %}

{% for interface in iosstig_trunk_ports | default([]) %}
interface {{ interface.name }}
 switchport trunk allowed vlan remove {{ iosstig_blackhole_vlan }}
{% endfor %}

{% for interface in iosstig_unused_ports | default([]) %}
interface {{ interface.name }}
 switchport access vlan {{ iosstig_blackhole_vlan }}
 switchport mode access
 no switchport trunk allowed vlan 
 shutdown
{% endfor %}
